body {
    margin: 0;
    padding: 0;
    background-image: url('/paredblanca.jfif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
}

/* Contenedor de los iconos usando flexbox para una distribución flexible */
.contenedor-iconos {
    display: flex;
    flex-wrap: wrap; /* Permite que los iconos se ajusten a nuevas líneas */
    justify-content: center; /* Centra los iconos */
    align-items: center; /* Alinea los iconos verticalmente */
    position: relative;
    height: 100%;
}

/* Estilo general de los iconos */
.icono {
    text-align: center;
    color: black;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    margin: 10px; /* Espacio entre los iconos */
    flex: 0 1 80px; /* Flexibilidad para que cada icono ocupe un espacio pequeño pero adaptable */
}

.icono img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icono img:hover {
    transform: scale(1.1);
}

.icono p {
    margin-top: 8px;
}

/* Media Queries: Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .contenedor-iconos {
        flex-direction: column; /* Apila los iconos verticalmente en pantallas más pequeñas */
        align-items: center; /* Centra los iconos */
    }

    .icono {
        flex: 0 1 60px; /* Ajusta el tamaño de los iconos en pantallas pequeñas */
        margin: 15px; /* Añade más espacio entre los iconos */
    }
}

/* Media Queries: Ajustes para pantallas más grandes */
@media (min-width: 769px) {
    .contenedor-iconos {
        flex-direction: row; /* Alinea los iconos horizontalmente en pantallas más grandes */
    }

    .icono {
        flex: 0 1 150px; /* Iconos más grandes en pantallas grandes */
    }
}

/* Estilo para el texto desplazable */
.scrolling-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    z-index: 1;
    font-style: italic;
}

#scrollingText span {
    display: inline-block;
    padding-right: 0;
    animation: scroll-text 50s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.scrolling-text2 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 1;
    font-style: italic;
}

#scrollingText2 span {
    display: inline-block;
    padding-right: 0;
    animation: scroll-text 40s linear infinite;
}
